.acts-join-form button:disabled {
    opacity: 0.60;
}

.acts-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 15px;
    height: 15px;
    animation: acts-loader-spin 2s linear infinite;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
}

.acts-join-image {
    position: relative;
    z-index: 1;
}
.acts-join-image img .acts-loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes acts-loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
