/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.acts-form {
  position: relative;
}

.acts-wrap a {
  text-decoration: none;
}

.acts-grey {
  color: grey;
  white-space: pre-line;
}

.acts-box-wrap {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.acts-box-padding {
  padding: 7px 14px 7px;
}

.acts-delete-button.button {
  background-color: #cc0000;
  border-color: #4d0000;
  color: #4d0000;
  box-shadow: 0 1px #4d0000;
}

.acts-delete-button.button:hover {
  background-color: #d40000;
  border-color: #4d0000;
  color: #4d0000;
  box-shadow: 0 1px #4d0000;
}

#activities-title a {
  margin-left: 10px;
  font-size: 14px;
}

#activities-filter-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

#activities-filter-wrap b {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}

#activities-filter-wrap div {
  display: inline-block;
  margin-right: 10px;
}

#activities-filter-wrap input {
  height: 31px;
}

.acts-filter-buttons {
  vertical-align: bottom;
  margin-top: 10px;
}

#activities-bulk-wrap {
  padding-bottom: 7px;
  display: inline-block;
}

#activities-items-num {
  margin-left: 10px;
  width: 50px;
}

.activities-name-wrap {
  display: inline-block;
  width: calc(100% - 30px);
}

.activities-nice-link {
  float: right;
  vertical-align: top;
}

.activities-activate {
  color: #009933;
}

.activities-activate:hover {
  color: #00b33c;
}

.activities-delete {
  color: #cc0000;
  cursor: pointer;
}

.acts-req-mark,
.activities-delete:hover {
  color: red;
}

#activities-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#activities-options > div {
  margin-right: 10px;
}

.activities-table tr :not(:last-child) {
  padding-right: 5px;
}

.activities-table thead td:not(:first-child),
.activities-table tbody td:not(:first-child) {
  text-align: center;
}

.activities-table thead {
  font-weight: bold;
}

.acts-edit-types-options label {
  display: block;
  margin-bottom: 5px;
}

.acts-edit-types-options input {
  width: 100%;
}

.acts-edit-types-options .selectize-control {
  max-width: 300px;
}

.acts-form input[type=text],
.acts-form input[type=date],
.acts-form input[type=number],
.acts-form input[type=checkbox],
.acts-form textarea {
  border-radius: 3px;
}

.acts-create-form {
  margin-right: 310px;
}

.acts-create-wrap {
  width: 100%;
  min-width: 300px;
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.acts-create-wrap ul {
  margin: 0;
}

.acts-category-edit input[type=text],
.acts-category-edit select,
.acts-category-edit textarea,
.acts-create-extra-wrap .activities-table,
.acts-create-extra input[type=text],
.acts-create-extra select,
.acts-create-wrap input[type=text],
.acts-create-wrap textarea {
  width: 100%;
}

.acts-category-edit textarea {
  height: 150px;
}

.acts-create-extra-wrap {
  width: 300px;
  margin-right: -310px;
  float: right;
}

.acts-categories h3 input[name=show_category_form] {
  vertical-align: middle;
}

.acts-create-extra-wrap h3 {
  margin-bottom: 5px;
}

.acts-category-name .dashicons::before {
  content: "\f464";
}

.acts-category-name .dashicons {
  visibility: hidden;
}

.acts-category-name a:hover .dashicons {
  visibility: visible;
}

#acts-location-desc {
  height: 265px;
}

#acts-activity-ldesc {
  height: 200px;
}

.acts-form-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acts-single-column {
  width: 49%;
  min-width: 230px;
}

#acts-plan-desc {
  height: 150px;
}

.acts-nice-session-list,
.acts-plan-textareas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.acts-nice-session-list .acts-nice-session,
.acts-plan-textareas li {
  width: 49%;
}

#acts-import-table {
  border-spacing: 0;
}

#acts-import-table > tbody > :nth-child(2n+1) {
  background-color: #f9f9f9;
}

#acts-import-table td {
  padding: 8px 10px;
  height: 4em;
  vertical-align: top;
}

#acts-import-table tbody tr > :first-child  {
  max-width: 250px;
}

#acts-import-table tbody tr > :nth-child(2) {
  max-width: 500px;
}

.acts-wrap .acts-progress-row:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.acts-progress-row {
  overflow: hidden;
  background-color: white;
  margin: 0;
  padding: 5px 0px;
}

.acts-progress-row li {
  float: left;
  margin-right: 10px;
}

.acts-progress-row li:first-child {
  width: 100px;
  padding-left: 20px;
}

.acts-export-label {
  display: block;
  padding-bottom: 5px;
}

.acts-export-select {
  width: 50%;
}

#acts-export-copied {
  color: green;
  visibility: hidden;
}

#acts-export-results {
  padding: 7px;
  white-space: pre-line;
}

#acts-nice-settings-wrap {
  display: inline-block;
  position: relative;
  height: 0;
}

#acts-show-nice-settings {
  display: none;
  width: 50px;
  height: 50px;
  font-size: 50px;
  position: absolute;
  right: 0;
  z-index: 2;
}

#acts-show-nice-settings::before {
  content: "\f333";
}

#acts-nice-settings-wrap > input {
  width: 52px;
  height: 52px;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  opacity: 0;
}

#acts-nice-settings-wrap > input:checked ~ #acts-nice-settings  {
  display: block;
}

#acts-nice-settings-wrap > input:checked ~ #acts-show-nice-settings::before {
  content: "\f158";
}

#acts-nice-settings {
  width: 300px;
}

#acts-nice-settings input[name=header],
#acts-nice-settings #time-slots  {
  width: 100%;
}

#acts-nice-settings h3 #acts-reload-members {
  vertical-align: baseline;
  font-weight: normal;
}

#acts-nice-logo-setting .button,
#acts-nice-logo-setting b {
  margin-bottom: 5px;
}

#acts-nice-logo-setting b {
  display: block;
}

#acts-nice-members-setting h3 {
  margin: 10px 0px 15px;
}

.acts-nice-loader-wrap {
  float: right;
  margin: 0 !important;
  vertical-align: middle;
}

.acts-nice-loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 16px;
  height: 16px;
  -webkit-animation: acts-loader-spin 2s linear infinite;
          animation: acts-loader-spin 2s linear infinite;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}

@-webkit-keyframes acts-loader-spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes acts-loader-spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

#acts-time-mark {
  width: 80px;
}

.acts-nice-custom .button {
  display: inline-block;
}

.acts-nice-custom .selectize-control {
  display: inline-block;
  width: 250px;
}

.acts-nice-custom li:first-child .button {
  vertical-align: middle;
}

.acts-nice-custom .acts-nice-custom-split input[type=submit] {
  vertical-align: top;
}

.acts-nice-custom li input[col],
.acts-nice-custom li .delete-custom,
.acts-nice-custom li #add-color,
.acts-nice-custom li .delete-color {
  font-size: 20px;
}

.acts-nice-custom li.acts-nice-custom-split:not(:last-child){
  padding-bottom: 5px;
  border-bottom: 1px dashed grey;
}

.acts-nice-wl-ok {
  border: 1px solid green !important;
  background-color: rgba(63, 191, 63, 0.3) !important;
}

.acts-nice-wl-error {
  border: 1px solid red !important;
  background-color: rgba(201, 76, 76, 0.3) !important;
}

#acts-nice-buttons .acts-nice-top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#acts-nice-buttons .acts-nice-splitter {
  border-style: dashed;
}

#acts-nice-preview > .submit,
#acts-nice-save-bottom {
  display: none;
}

#acts-nice-preview {
  width: 210mm;
  display: inline-block;
  vertical-align: top;
}

#acts-nice-preview-plan,
#acts-nice-preview-report {
  border: 1px solid lightgrey;
  background-color: #fff;
  width: 100%;
}

#acts-nice-preview h1 {
  font-size: 20px;
}

#acts-nice-wrap {
  padding: 3mm 7mm 10mm 7mm;
  position: relative;
}

#acts-nice-info {
  min-height: 200px;
}

#acts-nice-info p {
  white-space: pre-line;
  margin: 7px 0;
}

#acts-nice-header {
  height: 7mm;
  width: 100%;
  line-height: 7mm;
  text-align: right;
  white-space: nowrap;
}

#acts-nice-logo {
  max-width: 54%;
  max-height: 200px;
  float: right;
}

.acts-nice-phone-hr {
  display: none;
}

.acts-nice-user-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.acts-nice-user-info,
.acts-nice-members-head {
  width: 36%;
}

.acts-nice-session-edit,
.acts-user-quick-edit {
  color: #0073aa;
}

.acts-nice-user-info .acts-nice-user-name,
.acts-nice-user-info ul {
  word-wrap: break-word;
}

.acts-nice-user-info.acts-nice-col2 .acts-nice-user-name {
  display: block;
  word-break: break-all;
}

.acts-user-quick-edit .dashicons {
  visibility: hidden;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.acts-nice-session-edit:hover,
.acts-user-quick-edit:hover {
  color: #0085ba;
}

.acts-user-quick-edit:hover .dashicons {
  visibility: visible;
}

.acts-nice-user-time,
.acts-nice-members-head-time {
  width: 29%;
}

.acts-nice-members-head,
.acts-nice-members-head-time {
  border-bottom: 2px solid black;
  vertical-align: bottom;
  padding: 5px;
}

.acts-nice-user-info,
.acts-nice-user-time {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 3px 5px;
}

.acts-quick-edit-type ul,
.acts-quick-edit-type ul li,
.acts-nice-user-info span ul,
.acts-nice-user-info span ul li {
  margin: 0;
}

.acts-nice-user-info span ul li {
  font-size: 10px;
}

.acts-nice-compressed-info {
  width: 75%;
  display: inline-block;
}

.acts-nice-coupons {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 25%;
  text-align: right;
}

.acts-quick-edit-box {
  margin-top: 7px;
}

.acts-quick-edit-box > div {
  padding: 0 0 7px 0;
}

.acts-quick-edit-box label {
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
}

.acts-quick-edit-header {
  display: block;
  font-size: 18px;
  margin: 5px 0;
}

.acts-quick-edit-type[type=user] .acts-quick-edit-header {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.acts-quick-edit-group .acts-quick-edit-header {
  font-size: 16px;
}

.acts-quick-edit-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acts-quick-edit-group {
  min-width: 290px;
  width: 49%;
  padding: 5px 0px;
}

.acts-quick-edit-group input,
.acts-quick-edit-group textarea {
  width: 100%;
}

.acts-quick-edit-group textarea {
  height: 100px;
}

.acts-quick-img-wrap {
  display: block;
  width: 128px;
  height: 128px;
  margin: auto;
  border: 1px solid darkgrey;
  border-radius: 3px;
  position: relative;
}

.acts-quick-img-wrap .acts-nice-loader {
  position: absolute;
  top: 54px;
  left: 54px;
}

.acts-nice-session {
  margin-bottom: 10px;
}

.acts-nice-session b,
.acts-nice-session .acts-nice-session-edit, {
  font-size: 14px;
}

.acts-nice-session-expand .dashicons,
.acts-nice-session-edit .dashicons {
  width: 16px;
  height: 16px;
  font-size: 16px;
  vertical-align: middle;
}

.acts-nice-session-expand .dashicons {
  display: none;
}

.acts-nice-session-edit .dashicons {
  visibility: hidden;
}

.acts-nice-session-edit:hover {
  cursor: pointer;
}

.acts-nice-session-edit:hover .dashicons {
  visibility: visible;
}

.acts-nice-session-text {
  white-space: pre-wrap;
}

.acts-nice-session-empty {
  color: grey;
}

.acts-nice-session textarea.acts-nice-session-text {
  width: 100%;
  height: 7.8em;
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .acts-quick-edit-group,
  .acts-single-column {
    width: 100%;
  }

  .acts-edit-types-options .selectize-control {
    max-width: none;
  }

  #activities-filter-wrap div,
  #activities-filter-wrap select,
  #activities-filter-wrap input[type=text] {
    width: 100% !important;
  }

  #acts-nice-header {
    text-align: center;
  }

  #acts-nice-logo {
    display: block;
    max-width: 100%;
    float: none;
    margin: auto;
  }

  #acts-nice-info > h1 {
    padding: 0 0 5px 0;
  }

  #acts-nice-info > b {
    display: block;
    text-align: center;
  }

  .acts-nice-phone-hr {
    display: block;
  }

  .acts-nice-sub-del {
    display: none !important;
  }

  .acts-nice-sub-info {
    display: block;
  }

  .acts-nice-user-info {
    cursor: pointer;
  }

  .acts-nice-expand,
  .acts-nice-colapse {
    float: right;
  }

  .acts-nice-expand::before  {
    content: "\f140";
  }
  .acts-nice-colapse::before  {
    content: "\f142";
  }

  .acts-nice-colapse,
  .acts-nice-col2,
  .acts-nice-col1 span:first-child ul {
    display: none;
  }

  .acts-nice-user-info,
  .acts-nice-user-time {
    width: 100% !important;
    border-right: 1px solid black !important;
  }

  .acts-nice-session-list {
    flex-direction: column;
  }

  .acts-nice-session-list .acts-nice-session {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 782px) {
  .acts-export-select,
  #activities-filter-wrap input[type=text],
  .acts-nice-user-time {
    width: 100%;
  }

  /*#activities-filter-wrap div {
    width: 30%;
  }*/

  #acts-nice-preview input[type=checkbox] {
    margin: 0 2px 2px 0;
  }

  .acts-wrap .tablenav .tablenav-pages {
    margin-top: 10px;
  }
  .acts-wrap .tablenav.bottom .displaying-num {
    position: static;
    display: block;
    margin-bottom: 15px;
  }

  #acts-nice-settings {
    right: -12px !important;
    padding-right: 12px !important;
  }

  .acts-nice-user-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .acts-nice-members-head-time,
  .acts-nice-members-head {
    display: none;
  }

  .acts-nice-members-head:first-child {
    display: block;
    width: 100%;
  }

  .acts-nice-user-info:first-child {
    border-right: 1px dashed lightgrey;
  }

  .acts-nice-user-info {
    width: 40%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: none;
  }
}

/* Around this width the report needs to be resized to fit */
@media only screen and (max-width: 872px) {
  #acts-nice-preview {
    width: 100%;
  }

  /*Since its no longer the a4 print size we remove the print buttons*/
  .acts-nice-print {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .acts-create-form,
  .acts-create-wrap,
  .acts-create-extra-wrap {
    float: none;
    margin-right: 0;
  }

  .acts-create-extra-wrap .acts-create-extra {
    margin-top: 10px;
  }

  .acts-create-extra-wrap {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-height: 782px) {
  .acts-nice-session-hidden {
    display: none;
  }

  .acts-nice-session-expand .dashicons {
    display: inline;
  }

  .acts-nice-session-expand {
    color: #0073aa;
  }

  .acts-nice-session-expand:hover {
    cursor: pointer;
  }

  .acts-nice-session-expand:hover {
    color: #0085ba;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1335px) {
  body {
    overflow-x: hidden;
  }

  .acts-settings-form #acts-nice-settings-wrap {
    top: 17px;
  }

  #acts-nice-settings-wrap {
    position: absolute;
    right: 0;
    top: -53px;
  }

  #acts-show-nice-settings {
    display: block;
  }

  #acts-nice-settings {
    display: none;
    position: absolute;
    right: -20px;
    padding-right: 20px;
    border-right: none;
    z-index: 1;
  }

  #acts-nice-preview > .submit,
  #acts-nice-save-bottom {
    display: inline-block;
  }
}

@media print {
  @page :first {
    margin: 0 0 10mm 0;
  }

  @page {
    margin: 10mm 0 10mm 0;
  }

  html.wp-toolbar {
    padding-top: 0;
    background-color: #fff;
  }

  .notice,
  .button,
  .button-primary,
  #wpfooter,
  #adminmenumain,
  #wpadminbar,
  #activities-title,
  #acts-nice-settings,
  #acts-nice-preview-title,
  .acts-nice-print-hide {
    display: none !important;
  }

  .wrap,
  #wpcontent,
  #screen-meta,
  #wpbody-content {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  #acts-nice-preview {
    display: block;
    width: 100%;
    border: none;
  }

  #acts-nice-wrap {
    margin: 0;
  }

  #acts-nice-preview,
  #acts-nice-wrap {
    page-break-inside: auto;
  }

  .acts-nice-user-info a {
    color: black;
  }

  .acts-nice-user-row,
  .acts-nice-members-head,
  .acts-nice-user-info,
  .acts-nice-user-time {
    page-break-before: auto;
    page-break-inside: avoid;
    page-break-after: auto;
  }
}
